.header {
    padding: 20px;
}

.header .container {
    max-width: 1264px;
    margin: auto;
}

.header .logo {
    max-width: 180px;
    margin-bottom: 20px;
}

.header .logo img {
    width: 100%;
    height: auto;
}