:root {
  --background-color-light: #ffffff;
  --text-color-light: #333333;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  padding: 0;
  margin: 0;
}

/* Importar css*/
@import './BorderLayout.css';